.SummonerHeader {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  color: var(--darkblue);
}

.SummonerHeader .profile-icon {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.SummonerHeader .profile-icon:hover {
  transform: scale(1.1);
}

.SummonerHeader .level {
  position: absolute;
  top: -11px;
  left: 24px;
  background-color: black;
  color: white;
  text-align: center;
  border: 2px solid #3e206d;
  border-radius: 5px;
  width: 2rem;
}

.SummonerHeader img {
  width: 5rem;
  height: 5rem;
  border: 2px solid #414165;
  border-radius: 5px;
}

.SummonerHeader h1 {
  /* align-self: flex-start; */
  margin-left: 1rem;
}
