.Homepage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Homepage-search {
  width: 50%;
  border: 2px solid black;
}

.Homepage img {
  width: 30%;
  margin: 2rem;
  /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.19); */
}
