body {
  --accent: #ffffff;
  --white: #ffffff;
  --purple: #a155b9;
  --hotpink: #f765a3;
  --textColor: #f9d1d1;
  --winBg: #b0efeb;
  --loseBg: #fdbaf8;
  --wingradient: linear-gradient(
    90deg,
    rgba(22, 91, 170, 0.85) 0%,
    rgba(161, 85, 185, 0.85) 50%,
    rgba(22, 91, 170, 0.85) 100%
  );
  --losegradient: linear-gradient(
    90deg,
    rgba(161, 85, 185, 0.85) 0%,
    rgba(247, 101, 163, 0.85) 50%,
    rgba(161, 85, 185, 0.85) 100%
  );
  --pageBackground: rgb(255, 164, 182);
  --pageGradient: radial-gradient(
    circle,
    rgba(255, 164, 182, 1) 12%,
    rgba(249, 209, 209, 1) 100%
  );
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f5f1;
  /* background: var(--pageBackground); */
  /* background: var(--pageGradient); */
  color: black;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
