.Searchbox {
  width: 40%;
  display: flex;
  justify-content: center;
  position: relative;
}

.Searchbox input {
  flex: 1;
  font-size: 1.1em;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.19);
  border: none;
  padding: 1.5rem;
  outline: none;
  border: none;
  border-radius: 2px;
}

.Searchbox .Searchbox-options {
  padding-right: 50px;
  background-color: #fff;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.19);
  border: none;
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}

/* .Searchbox .Searchbox-options a {
  padding-right: 50px;
  background-color: #fff;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.19);
  border: none;
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
} */

.Searchbox .Searchbox-options a span {
  margin-left: 50px;
  padding: 10px 20px;
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #a155b9;

  /* border-radius: 20px; */
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.19);
}
