.SummonerDetails {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  /* color: black; */
}

.SummonerDetails .container {
  height: 80%;
  display: grid;
  grid-template-columns: 312px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '. .';
  gap: 1em;
}

.rank-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(0, min-content));
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.'
    '.'
    '.';
  gap: 1.5em;
}

.rank-container .box {
  padding: 0.5rem 2rem;
  background-color: rgba(161, 85, 185, 0.7);
  height: 100%;
}

.rank-container .box hr {
  color: #0b1354;
}

.rank-container .box .info {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.rank-container .box .rank-img {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}

.rank-container .box .info span {
  font-size: 0.85em;
}

.rank-container .box .info .win-rate {
  margin-top: 1rem;
}

.rank-container .box h2 {
  margin-bottom: 0.5rem;
}

.SummonerDetails-MatchHistory {
  /* width: 98.5%; */
}

@media only screen and (max-width: 1270px) {
  .SummonerDetails .container {
    display: flex;
    flex-direction: column;
  }

  .rank-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      '. .'
      '. .';
    grid-gap: 1.5em;
    width: 100%;
    margin-bottom: 1rem;
  }

  .rank-container .box {
    /* width: 95%; */
  }

  .rank-container .box.Rank {
    grid-area: 1 / 1 / 1 / 3;
  }

  .empty {
    display: none;
  }
}
