.Match {
  position: relative;
  margin-bottom: 1rem;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.Match.expanded {
  margin-bottom: 0rem;
  border-bottom: 0;
}

.Match-win {
  /* background: rgb(176, 239, 235); */
  background: rgb(176, 239, 235);
  background: linear-gradient(
    90deg,
    rgba(176, 239, 235, 1) 0%,
    rgba(198, 201, 236, 1) 30%
  );

  border: 1px solid rgb(10, 99, 94);
}

.Match-lose {
  /* background: rgb(253, 186, 248); */

  background: rgb(253, 186, 248);
  background: linear-gradient(
    90deg,
    rgba(253, 186, 248, 1) 0%,
    rgba(198, 201, 236, 1) 30%
  );

  border: 1px solid rgb(107, 5, 100);
}

.Match-details {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 12% 15% 15% minmax(120px, 22%) minmax(155px, 31%) 4%;
  grid-template-rows: 78px;
}

.Match-type {
  text-align: center;
  font-size: 0.75rem;
}

.Champ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Champ img {
  width: 4rem;
  height: 4rem;
}

.Champ h2 {
  margin: 0;
  font-size: 1rem;
}

.Match-KDA {
  display: flex;
  flex-direction: column;
}

.Match-KDA div {
  text-align: center;
  margin: 0.3rem;
}

.items {
  display: flex;
  justify-content: center;
}

.Match-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
  justify-content: space-evenly;
}

.Match-items .item {
  width: 2rem;
  height: 2rem;
}

.Match-items .item.no-item {
  background-color: #f0e3ff;
}

.Match-teams {
  display: flex;
}

.Match-teams .team-list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1;
  margin-right: 10px;
}

.Match-teams .team-list .summoner {
  display: flex;
  margin-bottom: 2px;
  align-items: center;
}

.Match-teams .team-list .summoner .champ-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  height: 14px;
  width: 14px;
  border-radius: 2px;
  border: 1px solid #383864;
  overflow: hidden;
}

.Match-teams .team-list .summoner .champ-img img {
  width: 100%;
  height: 100%;
}

.Match-teams .team-list .summoner .summoner-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}

.Match-show {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.Match-show svg {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--darkblue);
}

.Match-expand {
  margin: 0 0 1rem 0;
  max-height: 40rem;
}

.Match-expand .details {
  padding: 0.2rem 1rem;
}

.Match-expand .details hr {
  margin: 0;
  color: var(--darkblue);
}
