.MatchExpandSummoner,
.MatchExpandTeamHeader {
  display: grid;
  grid-template-columns: 25% 12% 13% 7% 7% 7% 29%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  margin-bottom: 4px;
  border-radius: 4px;
  font-size: 0.8em;
}

.MatchExpandSummoner {
  border: 2px solid var(--blue);
  padding: 0.5rem;
}

.MatchExpandSummoner .champ,
.MatchExpandTeamHeader .victory-col {
  display: flex;
  align-items: center;
}

.MatchExpandSummoner .champ img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.MatchExpandTeam {
  margin-bottom: 1rem;
  padding: 0.2rem;
}

.MatchExpandTeam.win {
  border: 1px solid rgb(10, 99, 94);
}

.MatchExpandTeam.lose {
  border: 1px solid rgb(107, 5, 100);
}

.MatchExpandSummoner-kda {
  display: flex;
  flex-direction: column;
}
